@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,600i,700,700i,800,800i,900,900i');
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
}
body{
	color: #f9f9f9;
}
.container{
	width: 1500px;
	height: 3365px;
	margin: 0 auto;
}


.header{
	/*background-color:  #abeafa;*/
	background-image: url(img/img_f.jpg);
	background-repeat: no-repeat;
	height: 700px;
}
.header .logo{
	display: block;
	width: 125px;
	height: 111px;
	background-image: url(img/logo.png);
	float: left;
	margin-top: 24px;
	margin-left: 234px;
}
.header .box_velcom{

	background-color:  #fff51f;
	width: 220px;
	height: 300px;
	clear: both;
	float: left;
	margin-top: 201px;
	margin-left: 165px;
	padding: 0 25px;
	/*box-sizing: border-box;*/

}
.header .box_velcom h4{
	font-family: 'Raleway';
	color:  #333333;
	text-transform: uppercase;
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: 82px;
	margin-bottom: 24px;
}
.header .box_velcom p{
	font-family: 'Raleway';
	color:  #333333;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	font-style: italic;
	line-height: 14px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.header .text{
	float: right;
	width: 313px;
	height: 169px;
	margin-top: 108px;
	margin-right: 274px;
}

.header .text h3{
	font-family: 'Raleway';
	color:  #fff51f;
	font-size: 48px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 34px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.header .text p{
	font-family: 'Raleway';
	color:  #fff51f;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.header .but_buy{
	font-family: 'Raleway';
	display: block;
	text-decoration: none;
	background-color: #fff51f;
	width: 124px;
    height: 49px;
    float: right;
    margin-right: 460px;
    margin-top: 62px;
    color:  #000000;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    padding-left: 28px;
    padding-top: 20px;
    box-sizing: border-box;
}
.content{
	background-color: #f9f9f9;
	height: 2291px;
	width: 1500px;
	padding: 0 165px;
	box-sizing: border-box;
}





.box_menu{
	float: left;
	width: 270px;
	position: relative;
	top: -20px;
	box-sizing: border-box;
  
}

.box_menu .head_menu{
	font-family: Roboto;
	background-color:  #333333;
	width: 270px;
	height: 66px;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 66px;
	padding-left: 42px;
	box-sizing: border-box;
	text-align: left;
	text-transform: uppercase;
	
}
.menu{
	margin: 0 auto;
  
 
}
.menu, 
.menu ul{
	width: 270px;
	list-style: none;
	padding: 0;
    box-sizing: border-box;

}
.menu ul{
	position: relative;
	z-index: -1;
}

.menu li{
	position: relative;
	z-index:100;
	
}
.menu ul li {
  margin-top: -43px;
  /* устанавливаем отрицательный отступ от верхнего края для скрытия подменю */
  -moz-transition: 0.4s linear 0.4s;
  /* для Firefox 4 */
  -ms-transition: 0.4s linear 0.4s;
  /* для IE */
  -o-transition: 0.4s linear 0.4s;
  /* для Опера */
  -webkit-transition: 0.4s linear 0.4s;
  /* для Chrome и Safari */
  transition: 0.4s linear 0.4s;
  /* указываем параметры анимированного перехода */
}
.menu li a{
	display: block;
	background-color:  #26d2fc;
	height: 43px;
	font-family: 'Roboto';
	color:  #000000;
	font-size: 14px;
	font-weight: 900;
	line-height: 43px;
	text-transform: uppercase;
	text-decoration: none;
    box-sizing: border-box;
	padding-left: 40px;
	box-sizing: border-box;	
}
.menu li a:hover{
  font-family: Roboto;
color: #ffffff;
font-size: 14px;

/* Приближение из-за подстановки шрифтов */

font-weight: 900;
line-height: 36px;

/* Приближение из-за подстановки шрифтов */

text-align: left;
  background-color:  #333333;
}
.menu li:hover/*,
.menu ul li a:hover*/{
	background-color:  #333333;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;
	line-height: 36px;
	text-align: left;
}
.menu ul li a{
	background-color: #84e8ff;
	font-family: Roboto;
	color:  #333333;
	font-size: 14px;/*14*/
	
	line-height: 36px;/*36*/
	
}
.menu li:hover ul li {
  margin-top: 0;
  -moz-transition: 0.4s linear;
  /* для Firefox 4 */
  -ms-transition: 0.4s linear;
  /* для IE */
  -o-transition: 0.4s linears;
  /* для Опера */
  -webkit-transition: 0.4s linears;
  /* для Chrome и Safari */
  transition: 0.4s linear;
  /* указываем параметры анимированного перехода */
}






.blok_data{
	background-color: #e0e0e0;
	width: 270px;
	height: 300px;
	margin-top: 30px;
	float: left;
	clear: both;
	padding-left: 142px;
	padding-top: 129px;
	box-sizing: border-box;
}
.blok_data p{
	font-family: Raleway;
	color:  #333333;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	font-weight: 800;
	line-height: 36px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	font-style: italic;
	
	text-transform: uppercase;
}
.products{
    float: right;
    margin-left: 30px;
	background-color:  #f8f8f8;
	width: 870px;
	overflow: hidden;
	position: relative;
	top: -20px;
}


.new_product {
    background-color: #f8f8f8;
    width: 870px;
    height: 778px;
    
}

.new_product .product_text_box {
    display: block;
    overflow: hidden;
    font-family: Roboto;
    color: #707070;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
    margin: 25px 31px;
}
.new_product .np_content {
    float: left;
    height: 700px;
    width: 870px;
    text-align: justify;
    text-align-last: justify;
}
.new_product .np_content .np_blok {
    display: inline-block;
    background-color:  #ffffff;
width: 270px;
height: 320px;
    margin-bottom: 30px;
}















.products .new_pr{
	width: 870px;
	height: 748px;

}
.products .cont_title{
	font-family: Roboto;
	color:  #707070;
	font-size: 22px;
	font-weight: 900;
	font-style: italic;
	text-align: left;
	text-transform: uppercase;
	margin-top: 31px;
	padding-left: 25px;
}
.products ul{
	text-align: justify;
	text-align-last: justify;
	
}
.products ul li{
	display: inline-block;
	
	background-color:  #ffffff;
	width: 270px;
	height: 320px;
	margin-top: 30px;
}
.products ul li a{
	display: block;
	position: relative;
	top: -10px;
	width: 270px;
	height: 320px;
	padding-top: 10px;
}

.products .pr_price .pr_img{
	background-color:  #eaeaea;
	width: 250px;
	height: 235px;
	margin: 10px;
	position: relative;
}
.products .pr_price .pr_img img{
	display: block;
	width: 250px;
	height: 235px;
}
.products .pr_price .pr_text{
	display: block;
	float: left;
	width: 140px;
	height: 29px;
	font-family: Roboto;
	color:  #333333;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	line-height: 18.012px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 26px;
	margin-top: 5px;
}
.products .pr_price .pr_cost{
	display: block;
	font-family: Roboto;
	color:  #333333;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: right;
	float: right;
	margin-top: 5px;
	margin-right: 25px;
}
.products .pr_price .old_cost{
	display: block;
	font-family: Roboto;
	color:  #e24602;
	font-size: 14px;
	font-weight: 900;
	font-style: italic;
	float: right;
	clear: both;
	margin-right: 25px;
	text-decoration: line-through;
}
.products .top_pr{
	width: 870px;
	height: 400px;
}
.products .sale_pr{
	width: 870px;
	height: 400px;
	margin-bottom: -10px;
}
.new{
	width: 46px;
	height: 46px;
	background-image: url(img/New.png);
	position: absolute;
	left: 214px;
	top: -10px;
}
.new p{
	display: block;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 9px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	padding-top: 10px;
	padding-left: 21px;
}
.hot{
	width: 46px;
	height: 46px;
	background-image: url(img/Hot.png);
	position: absolute;
	left: 214px;
	top: -10px;
}
.hot p{
	font-family: Roboto;
	color:  #000000;
	font-size: 9px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	padding-top: 10px;
	padding-left: 21px;
}
.content .brand{
	background-color:  #ffffff;
	width: 1170px;
	height: 160px;
	
}
.content .brand img{
	margin-top: 70px;
	margin-left: 14px;
}
.content .social{
	background-color:  #eaeaea;
	width: 1170px;
	height: 350px;
	clear: both;	
}
.content .insta{
	width: 28px;
	height: 28px;
	float: left;
	margin-top: 51px;
	margin-left: 449px;

}
.social .soc_text{
	display: block;
	float: right;
	margin-top: 54px;
	margin-right: 447px;
	font-family: Roboto;
	color:  #333333;
	font-size: 22px;/* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: left;
}
.social .soc_text .soc_text_s{
	font-family: Roboto;
	color:  #333333;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: left;
}
.social .soc_img{
	float: left;
	width: 1170px;
	margin-top: 29px;
}
.social .soc_img ul{

	text-align: justify;
	text-align-last: justify;
}
.social .soc_img ul li{
	display: inline-block;
	background-color: #ffffff;
	width: 185px;
	height: 185px;
	/*margin-top: 29px;*/
}
.soc_seti{
	width: 1170px;
	height: 150px;
	float: left;
	clear: both;
}
.soc_seti .soc_1{
	display: block;
	float: left;
	overflow: hidden;
	background-color:  #3b5997;
	width: 390px;
	height: 150px;
}
.soc_seti .soc_1 img{
	margin-top: 44px;
	margin-left: 180px;
}
.soc_seti .soc_2{
	display: block;
	float: left;
	overflow: hidden;
	background-color:  #3fccfd;
	width: 390px;
	height: 150px;
}
.soc_seti .soc_2 img{
	margin-top: 49px;
	margin-left: 163px;
}
.soc_seti .soc_3{
	display: block;
	float: left;
	overflow: hidden;
	background-color:  #cb2027;
	width: 390px;
	height: 150px;
}
.soc_seti .soc_3 img{
	margin-top: 43px;
	margin-left: 163px;
}

.footer{
	width: 1500px;
	height: 395px;
}
.footer .f_content{
	background-color:  #373737;
	width: 1500px;
	height: 348px;
	padding-top: 75px;
	box-sizing: border-box;
}
.footer .f_end{
	background-color:  #333333;
	width: 1500px;
	height: 47px;
}
.footer .f_category{
	width: 84px;
	height: 162px;
	float: left;
	margin-left: 192px;
	text-transform: capitalize;

}
.footer .f_category h3{
	display: block;
	margin-bottom: 
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 28px;	
}
.footer .f_category ul{
	list-style-type: none;
}
.footer .f_category ul li{
	list-style-type: none;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 18px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.footer .f_account{
	width: 113px;
	height: 162px;
	float: left;
	margin-left: 114px;
}
.footer .f_account h3{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	display: block;
	margin-bottom: 30px;
}
.footer .f_account ul{
	text-transform: capitalize;
}
.footer .f_account ul li{
	font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 18px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	list-style-type: none;
}
.footer .f_support{
	width: 106px;
	height: 162px;
	float: left;
	margin-left: 87px;
}
.footer .f_support h3{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	display: block;
	margin-bottom: 27px;
}
.footer .f_support ul{
	text-transform: capitalize;
}
.footer .f_support ul li{
	font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 18px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	list-style-type: none;
}

.footer .f_about{
	width: 232px;
	height: 162px;
	float: right;
	margin-right: 191px;
}
.footer .f_about h3{
	display: block;
	margin-bottom: 7px;
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	text-transform: capitalize;
}
.footer .f_about .text{
	font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 12px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.footer .f_about .phone{
	display: block;
	float: left;
	width: 42px;
	height: 11px;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 23.4px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: 14px;
}
.footer .f_about .p_number{
	display: block;
	float: left;
	width: 99px;
	height: 10px;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-top: 14px;
	margin-left: 18px;
}
.footer .f_about .mail{
	display: block;
	float: left;
	clear: both;
	margin-top: 15px;
	font-family: Roboto;
	color:  #ffffff;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 23.4px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.footer .f_about a{
	display: block;
	float: left;
	margin-top: 16px;
	margin-left: 19px;
	text-decoration: none;
	font-family: Roboto;
	color:  #faef03;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.footer .f_nc{
	width: 266px;
	height: 162px;
	float: right;
	margin-right: 45px;
}
.footer .f_nc h3{
	display: block;
	font-family: Raleway;
	color:  #ffffff;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 18px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: capitalize;
	margin-bottom: 8px;
	margin-left: 7px;
}
.footer .f_nc .text{
	display: block;
	width: 195px;
	height: 22px;
	font-family: Roboto;
	color: #f8f8f8;
	font-size: 12px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 12px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 20px;
	margin-left: 7px;
}
.footer .f_nc form{
	margin-left: 7px;
}
.footer .f_nc form input{
	background-color: #fff51f;
	width: 180px;
	height: 30px;
	padding-left: 21px;
	box-sizing: border-box;
	margin-right: -4px;
}
.footer .f_nc form input[placeholder]{
	font-family: Roboto;
	color:  #333333;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 21px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	text-transform: uppercase;
}
.footer .f_nc form input:focus::-webkit-input-placeholder{
	color: transparent;
}
.footer .f_nc form button{
	background-color: #000000;
	width: 71px;
	height: 30px;
	font-family: Roboto;
	color: #ffffff;
	font-size: 12px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 21px; /* Приближение из-за подстановки шрифтов */
	text-align: center;

	}
.footer .f_nc form button:hover{
	cursor: pointer;
}
.footer .f_nc .aex{
	width: 36px;
	height: 22px;
	background-image: url(img/aex.jpg);
	float: left;
	margin-top: 45px;
}
.footer .f_nc .mas_card{
	width: 36px;
	height: 22px;
	background-image: url(img/mastercard.jpg);
	float: left;
	margin-left: 10px;
	margin-top: 45px;
}
.footer .f_nc .maestro{
	width: 36px;
	height: 22px;
	background-image: url(img/maestero.jpg);
	float: left;
	margin-left: 10px;
	margin-top: 45px;
}
.footer .f_nc .pp{
	width: 36px;
	height: 22px;
	background-image: url(img/paypal.jpg);
	float: left;
	margin-left: 10px;
	margin-top: 45px;
}
.footer .f_nc .discover{
	width: 36px;
	height: 22px;
	background-image: url(img/discover.jpg);
	float: left;
	margin-left: 10px;
	margin-top: 45px;
}
.footer .f_nc .visa{
	width: 36px;
	height: 22px;
	background-image: url(img/visa_straight.jpg);
	float: left;
	margin-left: 10px;
	margin-top: 45px;
}
.f_end{
	padding-top: 21px;
	padding-left: 189px;
	padding-right: 186px;
	box-sizing: border-box;
	background-color:  #333333;
	width: 1500px;
	height: 47px;
}
.f_end p{
	display: block;
	float: left;
	width: 399px;
	font-family: Roboto;
	color:  #dad9d9;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 21.6px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.f_end .rss{
	display: block;
	overflow: hidden;
	float: right;
}
.f_end .inst,.tumblr,.gpl,.pint,.twit,.face{
	display: block;
	overflow: hidden;
	float: right;
	margin-right: 15px;
}
